/* Page Background color */
* {
  background-color: black;
  color: white;
}

/* loading */
.layover {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* effetto hover su card */
.box img {
  display: block;
}

.box .info-card {
  display: none;
}

.box:hover .poster-img {
  display: none;
}

.box:hover .info-card {
  display: block;
}
